@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-weight: 100 700;
  src: url('assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-display: swap;
  font-weight: 100 800;
  src: url('assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}